body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
  color: #333;
}

.product {
  display: inline-block; /* o flexbox/grid se necessario */
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  width: 200px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  height: 100%;
  box-sizing: border-box;
  vertical-align: top;  
}


.product img {
  border-radius: 8px;
  margin-bottom: 10px;
  width: 100%;
  height: auto; /* mantiene le proporzioni */
  object-fit: cover; /* oppure 'contain' */
}
prezzo {
  font-weight: bold;
  margin: 10px 0;
}

button {
  padding: 8px 12px;
  background-color: #2196F3;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #1976D2;
}

#cart {
  margin-top: 30px;
  background-color:#28a745; 
  padding:8px 12px;
  border-radius:10px;
  border:none;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}


